<!DOCTYPE html>
<html>
<head>
  <title>Wonderpay</title>
  <%= stylesheet_link_tag    "wonderpay/application", media: "all" %>
  <%= javascript_include_tag "wonderpay/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
